<!doctype html>

<!--

    Welcome to the light side of the source, young padawan.

    One step closer to learn something interesting you are...

                               ____                  
                            _.' :  `._               
                        .-.'`.  ;   .'`.-.           
               __      / : ___\ ;  /___ ; \      __  
             ,'_ ""=-.:__;".-.";: :".-.":__;.-="" _`,
             :' `.t""=-.. '<@.`;_  ',@:` ..-=""j.' `;
                  `:-.._J '-.-'L__ `-.-' L_..-;'     
                    "-.__ ;  .-"  "-.  : __.-"       
                        L ' /.======.\ ' J           
                         "-.   "__"   .-"            
                        __.l"-:_JL_;-";.__           
                     .-j/'.;  ;""""  / .'\"-.        
                   .' /:`. "-.:     .-" .';  `.      
                .-"  / ;  "-. "-..-" .-"  :    "-.   
             .+"-.  : :      "-.__.-"      ;-._   \  
             ; \  `.; ;                    : : "+. ; 
             :  ;   ; ;                    : ;  : \: 
             ;  :   ; :                    ;:   ;  : 
            : \  ;  :  ;                  : ;  /  :: 
            ;  ; :   ; :                  ;   :   ;: 
            :  :  ;  :  ;                : :  ;  : ; 
            ;\    :   ; :                ; ;     ; ; 
            : `."-;   :  ;              :  ;    /  ; 
             ;    -:   ; :              ;  : .-"   : 
             :\     \  :  ;            : \.-"      : 
              ;`.    \  ; :            ;.'_..-=  / ; 
              :  "-.  "-:  ;          :/."      .'  :
               \         \ :          ;/  __        :
                \       .-`.\        /t-""  ":-+.   :
                 `.  .-"    `l    __/ /`. :  ; ; \  ;
                   \   .-" .-"-.-"  .' .'j \  /   ;/ 
                    \ / .-"   /.     .'.' ;_:'    ;  
                     :-""-.`./-.'     /    `.___.'   
                           \ `t  ._  /               
                            "-.t-._:'                

-->

<!--
    
    So you'd like to know how to use impress.js?
    
    You've made the first, very important step - you're reading the source code.
    And that's how impress.js presentations are built - with HTML and CSS code.
    
    Believe me, you need quite decent HTML and CSS skills to be able to use impress.js effectively.
    And what is even more important, you need to be a designer, too, because there are no default
    styles for impress.js presentations, there is no default or automatic layout for them.
    
    You need to design and build it by hand.
    
    So...
    
    Would you still like to know how to use impress.js?
    
-->

<html ng-app lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>AngularJS &amp; Batarang</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link rel="icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <!--
        
        Impress.js doesn't depend on any external stylesheet. Script adds all styles it needs for
        presentation to work.
        
        This style below contains styles only for demo presentation. Browse it to see how impress.js
        classes are used to style presentation steps, or how to apply fallback styles, but I don't want
        you to use them directly in your presentation.
        
        Be creative, build your own. We don't really want all impress.js presentations to look the same,
        do we?
        
        When creating your own presentation get rid of this file. Start from scratch, it's fun!
        
    -->
    <link href="css/impress-demo.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <script src="http://code.angularjs.org/angular-1.0.0rc10.min.js"></script>
</head>

<!--
    
    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.
    
    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.
    
    When impress.js script detects that browser supports all required features, this class name will
    be removed.
    
    The class name on body element also depends on currently active presentation step. More details about
    it can be found later, when `hint` element is being described.
    
-->
<body class="impress-not-supported">

<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<!--
    
    Now that's the core element used by impress.js.
    
    That's the wrapper for your presentation steps. In this element all the impress.js magic happens.
    It doesn't have to be a `<div>`. Only `id` is important here as that's how the script find it.
    
    You probably won't need it now, but there are some configuration options that can be set on this element.
    
    To change the duration of the transition between slides use `data-transition-duration="2000"` giving it
    a number of ms. It defaults to 1000 (1s).
    
    You can also control the perspective with `data-perspective="500"` giving it a number of pixels.
    It defaults to 1000. You can set it to 0 if you don't want any 3D effects.
    If you are willing to change this value make sure you understand how CSS perspective works:
    https://developer.mozilla.org/en/CSS/perspective
    
    But as I said, you won't need it for now, so don't worry - there are some simple but interesing things
    right around the corner of this tag ;)
    
-->
<div id="impress">

    <!--
        
        Here is where interesting thing start to happen.
        
        Each step of the presentation should be an element inside the `#impress` with a class name
        of `step`. These step elements are positioned, rotated and scaled by impress.js, and
        the 'camera' shows them on each step of the presentation.
        
        Positioning information is passed through data attributes.
        
        In the example below we only specify x and y position of the step element with `data-x="-1000"`
        and `data-y="-1500` attributes. This means that **the center** of the element (yes, the center)
        will be positioned in point x = -1000px and y = -1500px of the presentation 'canvas'.
        
        It will not be rotated or scaled.
        
    -->
    <div class="step" data-x="-1000" data-y="-1500">
        <div class="center">
            <img src="http://angularjs.org/img/AngularJS-large.png"/>
            <h3>&amp;</h3>
            <h1>Batarang</h1>
        </div>
    </div>

    <div id="title" class="step" data-x="0" data-y="0" data-scale="2">
        <div class="center">
            <h3>What is AngularJS?</h3>
        </div>
    </div>

    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
        <div class="center">
            <p>HTML enhanced for <strong>web apps</strong>.
        </div>
    </div>

    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="7">
        <p><em>Enhanced</em> you say? <em>Enhanced</em> <strong>how?</strong></p>
    </div>

    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <h1>Elevator Pitch</h1>
        <h5>Superheroic JavaScript?</h5>
        <blockquote>AngularJS is a new, powerful, client-side technology that provides a way of accomplishing really powerful things in a way that embraces and extends HTML, CSS and JavaScript, while shoring up some of its glaring deficiencies. It is what HTML <em>would</em> have been, had it been built for <strong>dynamic</strong> content.</blockquote>
    </div>

    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <div class="center">
            <h2>What do I think<br/>is <b class="scaling">cool</b> about AngularJS?</h2>
        </div>
    </div>

    <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
        <div class="center">
            <p>I'm glad you asked. This Slideshow is an <strong>Angular</strong> app, so please allow me to show you the light.</p>
        </div>
    </div>

    <div id="source" class="step" data-x="6300" data-y="2000" data-rotate="90" data-scale="4">
        <div class="center">
            <h2><strong>Two Way Data-Binding</strong></h2>
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <p>Hello, <strong>{{yourName}}</strong>!</p>
        </div>
        <script src="https://gist.github.com/3088805.js?file=ang-1.html"></script>
    </div>

    <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
        <div class="center">
            <h2><strong>Templates</strong></h2>
            <script>
                function AlbumCtrl($scope) {
                    scope.images = [
                        {"image":"img/tiny-semantics.png", "description":"Image 01 description"},
                        {"image":"img/tiny-offline-storage.png", "description":"Image 02 description"},
                        {"image":"img/tiny-device-access.png", "description":"Image 03 description"},
                        {"image":"img/tiny-connectivity.png", "description":"Image 04 description"},
                        {"image":"img/tiny-multimedia.png", "description":"Image 05 description"},
                        {"image":"img/tiny-3d-graphics-effects.png", "description":"Image 06 description"},
                        {"image":"img/tiny-performance-integration.png", "description":"Image 07 description"},
                        {"image":"img/tiny-css3.png", "description":"Image 08 description"}
                    ];
                }
            </script>
        </div>
        <script src="https://gist.github.com/3088862.js?file=ang-2.js"></script>
        <script src="https://gist.github.com/3088862.js?file=ang-2.html"></script>
        <div ng-controller="AlbumCtrl">
          <ul>
            <li ng-repeat="image in images">
              <img ng-src="{{image.thumbnail}}" alt="{{image.description}}">
            </li>
          </ul>
        </div>
    </div>

    <div class="step" data-x="3000" data-y="4800" data-scale="3" data-rotate="-90">
        <div class="center">
            <h2><strong>MVC</strong></h2>
            <p>AngularJS incorporates the basic principles behind the original MVC software design pattern into how it builds client-side web applications. AngularJS does not implement MVC in the traditional sense, but rather something closer to <em>MVVM</em> (Model-View-ViewModel).</p>
        </div>
    </div>

    <div class="step" data-x="2500" data-y="-1000" data-scale="1" data-rotate="0">
        <div class="center">
            <h2><strong>Model</strong></h2>
            <p>Models in AndularJS are the data behind your app, &amp; are nothing more then JavaScript objects</p>
            <script src="https://gist.github.com/3101693.js?file=ng-model.js"></script>
        </div>
    </div>

    <div class="step" data-x="2000" data-y="0" data-scale="2" data-rotate="180">
        <div class="center">
            <h2><strong>ViewModel</strong></h2>
            <p>The viewmodel is the <strong>$scope</strong> object that lives within the AngularJS application. $scope is just a simple JavaScript object that provides specific data and methods to maintain specific views.</p>
            
        </div>
    </div>

    <div class="step" data-x="-800" data-y="2000" data-scale="3" data-rotate="0">
        <div class="center">
            <h2><strong>Controller</strong></h2>
            <p>The controller is the code behind your view that is responsible for all app behavior. You can see there is no DOM manipulation or framework boilerplate.</p>
        </div>
        <script src="https://gist.github.com/3101719.js?file=ng-crtl.js"></script>
    </div>

    <div class="step" data-x="0" data-y="5500" data-scale="3" data-rotate="180">
        <div class="center">
            <h2><strong>View</strong></h2>
            <p>The view is the <strong>HTML</strong> that exists after AngularJS has parsed and compiled the HTML to include rendered markup and bindings.</p>
        </div>
        <script src="https://gist.github.com/3102050.js?file=ng-view.html"></script>
    </div>

    <div class="step" data-x="8000" data-y="5500" data-scale="6" data-rotate="-90">
        <div class="center">
            <h2><strong>Directives</strong></h2>
            <p>Make custom <em>web components</em> with Angular. Sorry I ran out of time :)</p>
        </div>
    </div>

    <div class="step" data-x="12000" data-y="-2000" data-scale="6" data-rotate="180">
        <div class="center">
            <h2><strong>Built-In Testing</strong></h2>
            <p>AngularJS comes with an end-to-end and unit test runner all setup. <a href="https://github.com/angular/angular-seed">https://github.com/angular/angular-seed</a></p>
            <img src="img/test-runner.png"/>
        </div>
    </div>

    <div class="step" data-x="10000" data-y="1000" data-scale="2" data-rotate="0">
        <div class="center">
            <h2><strong>Batarang</strong></h2>
            <p>Chrome DevTools extension made for debugging Angular apps, because $scope can get kinda tricky.</p>
            <img src="img/model-tree.png"/>
            <p>*Chrome Canary only (for now)</p>
        </div>
    </div>



    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>

<!--
    
    Hint is not related to impress.js in any way.
    
    But it can show you how to use impress.js features in creative way.
    
    When the presentation step is shown (selected) its element gets the class of "active" and the body element
    gets the class based on active step id `impress-on-ID` (where ID is the step's id)... It may not be
    so clear because of all these "ids" in previous sentence, so for example when the first step (the one with
    the id of `bored`) is active, body element gets a class of `impress-on-bored`.
    
    This class is used by this hint below. Check CSS file to see how it's shown with delayed CSS animation when
    the first step of presentation is visible for a couple of seconds.
    
    ...
    
    And when it comes to this piece of JavaScript below ... kids, don't do this at home ;)
    It's just a quick and dirty workaround to get different hint text for touch devices.
    In a real world it should be at least placed in separate JS file ... and the touch content should be
    probably just hidden somewhere in HTML - not hard-coded in the script.
    
    Just sayin' ;)
    
-->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<!--
    
    Last, but not least.
    
    To make all described above really work, you need to include impress.js in the page.
    I strongly encourage to minify it first.
    
    In here I just include full source of the script to make it more readable.
    
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document. Not only because it's a good practice, but also
    because it should be done when the whole document is ready.
    Of course you can wrap it in any kind of "DOM ready" event, but I was too lazy to do so ;)
    
-->
<script src="js/impress.js"></script>
<script>impress().init();</script>

<!--
    
    The `impress()` function also gives you access to the API that controls the presentation.
    
    Just store the result of the call:
    
        var api = impress();
    
    and you will get three functions you can call:
    
        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.
    
    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.
    
    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.
    
-->

</body>
</html>

<!--
    
    Now you know more or less everything you need to build your first impress.js presentation, but before
    you start...
    
    Oh, you've already cloned the code from GitHub?
    
    You have it open in text editor?
    
    Stop right there!
    
    That's not how you create awesome presentations. This is only a code. Implementation of the idea that
    first needs to grow in your mind.
    
    So if you want to build great presentation take a pencil and piece of paper. And turn off the computer.
    
    Sketch, draw and write. Brainstorm your ideas on a paper. Try to build a mind-map of what you'd like
    to present. It will get you closer and closer to the layout you'll build later with impress.js.
    
    Get back to the code only when you have your presentation ready on a paper. It doesn't make sense to do
    it earlier, because you'll only waste your time fighting with positioning of useless points.
    
    If you think I'm crazy, please put your hands on a book called "Presentation Zen". It's all about 
    creating awesome and engaging presentations.
    
    Think about it. 'Cause impress.js may not help you, if you have nothing interesting to say.
    
-->

<!--
    
    Are you still reading this?
    
    For real?
    
    I'm impressed! Feel free to let me know that you got that far (I'm @bartaz on Twitter), 'cause I'd like
    to congratulate you personally :)
    
    But you don't have to do it now. Take my advice and take some time off. Make yourself a cup of coffee, tea,
    or anything you like to drink. And raise a glass for me ;)
    
    Cheers!
    
-->

